ShirtShop/WebContent/WEB-INF/descr/OrdiniSchema.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://shirtshop.com/Servizi/Ordini">
		<xsd:element name="Ordini">
			<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="Ordine">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1" name="oid" type="xsd:int" />
							<xsd:element minOccurs="1" maxOccurs="1" name="dataOraConferma" type="xsd:dateTime" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
</xsd:schema>